.App {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.content-box {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 50%;
}

.content-box-input {
  padding: 10px;
  border-radius: 8px;
  width: 70%;
}

.content-box-select {
  border-radius: 8px;
  padding: 8px;
}

.content-box-btn {
  padding: 10px;
  width: 30%;
  color: white;
  border-color: transparent;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
  background-color: #b3f6a8;
}

.content-box-btn:hover {
  transform: scale(1.05);
  background-color: #30e515;
}

table {
  padding: 15px;
}

tbody {
  background-color: #bfafaf;
  color: black;
}

th,
td {
  padding: 20px;
}

.td-actions {
  gap: 10px;
  display: flex;
}

a {
  text-decoration: none;
  color: #190af7;
}

a:visited {
  color: #190af7;
}

a:hover {
  text-decoration: underline;
}

.switch-box {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20%;
  gap: 2%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #30e515;
  ;
}

input:focus+.slider {
  box-shadow: 0 0 1px #30e515;
  ;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 32px;
}

.slider.round:before {
  border-radius: 50%;
}

.label-text {
  color: #071435;
  font-size: 14px;
  font-weight: 500;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  align-items: flex-start;
}

.modal-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.modal-input {
  padding: 10px;
  border-radius: 8px;
  width: 60%;
}

.modal-box-btn {
  display: flex;
  gap: 20px;
}

.modal-button {
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 500ms ease;
  background-color: #e1b78b;
}

.modal-button:hover {
  transform: scale(1.03);
}

.tooltip-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tooltip-text {
  visibility: hidden;
  background-color: #736f6f;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}


.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}